:host {
  border: 2px solid brown;
  display: flex;
  align-items: center;
  padding: 2%;
  margin: 3%;
  border-radius: 25px;
  background-color: #e5daf8;
}

.text-block {
  padding: 20px;
  width: 70%;
  flex-shrink: 0;
}

.main-title {
  padding-block: 20px 10px;
  color: var(--accent-color);
  font-size: clamp(1.25rem, 0.8239rem + 1.8182vw, 2.1875rem);
}

.position {
  padding-block: 10px 30px;
  color: var(--accent-color);
  font-size: clamp(1rem, 0.6023rem + 1.697vw, 1.875rem);
}

.person-data {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: inherit;
  font-size: clamp(1rem, 0.8864rem + 0.4848vw, 1.25rem);
}

.email-link {
  color: inherit;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
  color: var(--accent-color);
}

.photo-wrapper {
  display: flex;
  justify-content: center;
  max-height: var(--min-width);
}

.photo {
  --rel-size-photo: 90%;
  max-block-size: var(--rel-size-photo);
  max-inline-size: var(--rel-size-photo);
  object-fit: cover;
  border-radius: 10%;
}

@media (max-width: 768px) {
  :host {
    flex-direction: column;
    /* gap: 25px; */
  }

  .main-title,
  .position {
    font-size: clamp(1.875rem, 1.3068rem + 2.4242vw, 3.125rem);
  }

  .person-data {
    font-size: clamp(1.0625rem, 0.8636rem + 0.8485vw, 1.5rem);
  }

  .person-data {
    gap: 10px;
  }

  .photo-wrapper {
    max-height: 100%;
  }
}
