<div class="photo-wrapper">
  <img src="/images/photo.jpg" alt="Фото Кузнецова ВВ" class="photo" />
</div>
<div class="text-block">
  <h1 class="main-title">{{ person | fullPersonlName | uppercase }}</h1>
  <!-- В h1 можно обойтись только интерполяцией (без fullPersonlName) -->
  <div class="position">{{ position | uppercase }}</div>
  <div class="person-data">
    @if (person.dateBird) {
    <p>Дата рождения: {{ person.dateBird | date : "dd.MM.yyyy" }}</p>
    }
    <p>Город: {{ person.city }}</p>

    @if (person.contacts.length) {
    <p class="contacts__title">Контакты:</p>
    <ul class="contacts__list">
      @for (contact of person.contacts; track $index) {
      <li class="contacts__list-item">
        <a href="{{ contact.value }}" class="link contacts__link">
          <img
            src="{{ contact.logo }}"
            alt="{{ contact.text }}"
            class="contacts__logo-image"
          />
          <span class="contacts__text">{{ contact.text }}</span>
        </a>
      </li>
      }
    </ul>
    }
  </div>
</div>
